.container-login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(68, 0, 0, 0.933);
    overflow: hidden;
}

.card {
    height: 85vh;
    width: 80vw;

    border-radius: 1rem;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 1rem;
    overflow: hidden;
}

.left-container {
    height: 100%;
    width: 60%;
    display: flex;

}



.right-container {
    height: 100%;
    width: 100%;
    display: flex;
    background: white;
    display: flex;
    justify-content: center;
    overflow: scroll;
    box-sizing: content-box;
    box-shadow: 26px 26px 53px #bdbdbd,
        -26px -26px 53px #ffffff;
}

.right-container::-webkit-scrollbar {
    display: none;
}

.forms {
    margin-top: 2rem;
}

.sign-in-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.sign-in-container>input {
    width: 90%;
    padding: 1ch;
    border-radius: 5px;
    margin: 1ex;
    outline: none;
    border: solid rgb(0, 0, 0, 0.2) 1px;
}

.sign-in-container>Button {
    margin-top: 1rem;
    width: 90%;
    background-color: #332d2d;
}

.sign-in-container>label {
    font-size: smaller;
    cursor: pointer;
    margin-top: 1rem;
    color: rgba(51, 45, 45, 0.8);
}

.signup-redirect {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.signup-redirect>p:last-child {
    cursor: pointer;

    color: rgba(51, 45, 45, 0.8);
}


#terms-of-use {
    cursor: pointer;
    font-size: small;
    color: rgba(51, 45, 45, 0.5);
}

.main-social-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;


}

.social-logins {
    padding: 4px;
    width: fit-content;
    cursor: pointer;
}